---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>{title}</CardTitle>
    <CardDescription>{body}</CardDescription>
  </CardHeader>
  <CardContent>
    <p>{body}</p>
  </CardContent>
  <CardFooter>
    <p>Card Footer</p>
  </CardFooter>
</Card>
