---
import Icon from "astro-icon";
---

<footer class="mt-auto text-foreground bg-slate-100 p-6">
  <p class="text-center">Built with</p>
  <Icon name="logos:astro" class="h-15 w-10 mx-auto" />
  <p class="text-center text-xs mt-3">2023</p>
</footer>
