---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import Icon from "astro-icon";

import { Badge } from "@/components/ui/badge";
import type { SPConfig } from "@/lib/types";

interface Props {
  sideProjects: SPConfig[];
}

const { sideProjects } = Astro.props;
---

<Card>
  <CardHeader>
    <CardTitle>Side projects</CardTitle>
    <CardDescription>List of side projects</CardDescription>
  </CardHeader>
  <CardContent>
    {
      sideProjects.map((sp) => {
        return (
          <div class="mt-2">
            <a
              href={sp.url}
              class="text-base font-semibold flex items-center gap-1 hover:underline"
              target="_blank"
            >
              <Icon name="ic:round-launch" class="w-4 h-4" />
              {sp.title}
            </a>

            <p class="text-sm">{sp.description}</p>
            <Badge variant="secondary">{sp.status}</Badge>
          </div>
        );
      })
    }
  </CardContent>
</Card>
